@charset "UTF-8";

:root {
   --color-01: #0460D9;
   --color-02: #056CF2;
   --color-03: #0476D9;
   --color-04: #0487D9;
   --color-05: #0c1215;

   --font-padrao: 'Poppins', Arial, sans-serif;
   /* --font-secundaria: Arial, sans-serif; */
}


/* ? default styles for page */
* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}

body {
   width: 100%;
   height: auto;
   padding-top: 121px;
   font-family: var(--font-padrao);
   background-color: var(--color-05);
   color: white;
}

strong {
   color: var(--color-03);
}

/* buttons */
button {
   width: auto;
   height: auto;
   padding: 10px 20px;
   border: none;
   border-radius: 20px;
   font-size: 0.9rem;
   font-family: var(--font-padrao);
   font-weight: 600;
   cursor: pointer;
   transition: all .3s;
}
button:hover {
   cursor: pointer;
   transition: all .3s;
}

.b-get-started {
   border: 2px solid var(--color-04);
   background-color: transparent;
   border-radius: 10px;
   color: white;
}
.b-get-started:hover {
   background-color: var(--color-04);
}
.b-explore-now {
   /* background-color: var(--color-04); */
   background: linear-gradient(90deg, var(--color-04), var(--color-01));
   color: white;
}
.b-explore-now:hover {
   background: transparent;
   border: 1px solid var(--color-01);
}
.b-learn-more {
   background-color: transparent;
   border: 1px solid var(--color-03);
   color: white;
}
.b-learn-more i {
   padding-right: 5px;
}
.b-learn-more:hover {
   background-color: var(--color-03);
}





header {
   position: fixed;
   top: 0;
   width: 100%;
   height: auto;
   padding: 40px 50px;
   background-color: #0c1215f5;
   border-bottom-left-radius: 30px;
   border-bottom-right-radius: 30px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
header img {
   width: 150px;
}
header nav, header nav ul {
   list-style: none;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 30px;
}
header nav ul li, header nav ul li a {
   font-size: 1.1rem;
   cursor: pointer;
   transition: all .3s;
}
header nav ul li:hover, header nav ul li a:hover {
   cursor: pointer;
   transition: all .3s;
   color: var(--color-04);
}

.hero {
   /* margin-top: 50px; */
   margin: 50px auto 0 auto;
   width: 100%;
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
}
.hero > div {
   width: 50%;
   height: 100%;
}
.hero .content {
   padding: 30px 0px 30px 200px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   gap: 20px;
}
.hero .content h1 {
   max-width: 460px;
   font-size: 3rem;
   line-height: 3.7rem;
}
.hero .content p {
   max-width: 500px;
}
.hero .content .buttons {
   margin-top: 5px;
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
   padding: 0 10px 0 0;
}
.hero .content > div:not(.buttons) {
   margin-top: 30px;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   gap: 20px;
}
.hero .content > div:not(.buttons) .image-peoples {
   display: flex;
   transition: all .8s;
}
.hero .content > div:not(.buttons) .image-peoples:hover {
   transform: scale(105%);
   transition: all .8s;
}
.hero .content > div:not(.buttons) .image-peoples:hover img {
   filter: grayscale(0%);
}
.hero .content > div:not(.buttons) .image-peoples img {
   filter: grayscale(70%);
   width: 45px;
   border-radius: 50%;
}
.hero .content > div:not(.buttons) .peoples-online {
   color: var(--color-04);
   font-size: 0.9rem;
}
.hero .content > div:not(.buttons) .peoples-online i {
   padding-right: 5px;
}
.hero .image {
   /* padding-left: 50px; */
   /* height: 400px; */
   display: flex;
   justify-content: flex-start;
   align-items: center;
}
.hero .image img {
   width: 400px;
}


.discover {
   margin: 170px auto 0 auto;
   width: 100%;
   height: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 40px;
   text-align: center;
}
.discover h2 {
   font-size: 2.5rem;
   line-height: 3rem;
}
.discover .conteiner-group-card {
   margin: auto;
   width: 100%; max-width: 800px;
   height: auto;
   background-color: #161717;
   border: 1px solid rgba(255, 255, 255, 0.39);
   border-radius: 30px;
   padding: 30px 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   gap: 30px;
}
.discover .conteiner-group-card .conteiner-cards {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   gap: 30px;
}
.discover .conteiner-group-card .conteiner-cards .card {
   width: 150px;
   background-color: transparent;
   /* border: 1px solid var(--color-01); */
   text-align: center;
   padding: 20px;
   border-radius: 20px;
   transition: all .5s;
}
.discover .conteiner-group-card .conteiner-cards .card:hover {
   transform: scale(105%);
   background-color: var(--color-01);
   transition: all .5s;
}
.discover .conteiner-group-card .conteiner-cards .card p {
   margin-top: 5px;
   cursor: default;
   line-height: 1.3rem;
}
.discover .conteiner-group-card .conteiner-cards .card i {
   color: var(--color-04);
   font-size: 1.1rem;
}


/* temp */
img {
   width: 100px;
}