@charset "UTF-8";

:root {
   --color-01: #0460D9;
   --color-02: #056CF2;
   --color-03: #0476D9;
   --color-04: #0487D9;
   --color-05: #0c1215;

   --font-padrao: 'Poppins', Arial, sans-serif;
   /* --font-secundaria: Arial, sans-serif; */
}


/* ? default styles for page */
* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}

body {
   width: 100%;
   height: auto;
   padding-top: 121px;
   font-family: var(--font-padrao);
   background-color: var(--color-05);
   color: white;
}

/* buttons */
button {
   width: auto;
   height: auto;
   padding: 10px 20px;
   border: none;
   border-radius: 20px;
   font-size: 0.9rem;
   font-family: var(--font-padrao);
   font-weight: 600;
   cursor: pointer;
   transition: all .3s;
}
button:hover {
   cursor: pointer;
   transition: all .3s;
}

.b-get-started {
   background-color: var(--color-04);
   color: white;
}
.b-get-started:hover {
   background-color: var(--color-01);
}






header {
   position: fixed;
   top: 0;
   width: 100%;
   height: auto;
   padding: 40px 50px;
   background-color: #0c1215f5;
   border-bottom-left-radius: 30px;
   border-bottom-right-radius: 30px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
header img {
   width: 150px;
}
header nav, header nav ul {
   list-style: none;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 30px;
}
header nav ul li, header nav ul li a {
   font-size: 1.1rem;
   cursor: pointer;
   transition: all .3s;
}
header nav ul li:hover, header nav ul li a:hover {
   cursor: pointer;
   transition: all .3s;
   color: var(--color-04);
}



/* temp */
img {
   width: 100px;
}